In [24]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [25]:
from config2 import g_key

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-06-15 01:18:27,-53.1500,-70.9167,30.31,80,0,5.75
1,1,Rocha,UY,2021-06-15 01:14:26,-34.4833,-54.3333,53.82,82,100,10.22
2,2,Sept-Iles,CA,2021-06-15 01:18:27,50.2001,-66.3821,47.05,94,90,7.00
3,3,Gunjur,GM,2021-06-15 01:18:27,13.2019,-16.7339,78.87,94,40,10.36
4,4,Tuktoyaktuk,CA,2021-06-15 01:18:28,69.4541,-133.0374,53.60,58,75,11.50

In [27]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [28]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [31]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [43]:
 # Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Gunjur,GM,2021-06-15 01:18:27,13.2019,-16.7339,78.87,94,40,10.36
5,5,Hithadhoo,MV,2021-06-15 01:18:28,-0.6000,73.0833,82.27,75,78,8.08
8,8,Rikitea,PF,2021-06-15 01:18:29,-23.1203,-134.9692,75.06,81,100,12.41
10,10,Atuona,PF,2021-06-15 01:18:30,-9.8000,-139.0333,79.70,75,17,20.13
14,14,Avarua,CK,2021-06-15 01:18:31,-21.2078,-159.7750,77.05,78,75,9.22
15,15,Georgetown,MY,2021-06-15 01:18:14,5.4112,100.3354,82.89,83,20,3.44
16,16,Vaini,TO,2021-06-15 01:18:31,-21.2000,-175.2000,78.96,78,75,11.50
19,19,Axim,GH,2021-06-15 01:15:01,4.8699,-2.2405,77.99,88,99,6.69
25,25,Hasaki,JP,2021-06-15 01:18:34,35.7333,140.8333,82.29,69,2,5.82
26,26,Padang,ID,2021-06-15 01:18:34,-0.9492,100.3543,78.85,77,68,1.79

In [44]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [60]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3       Gunjur      GM     78.87  13.2019  -16.7339
5    Hithadhoo      MV     82.27  -0.6000   73.0833
8      Rikitea      PF     75.06 -23.1203 -134.9692
10      Atuona      PF     79.70  -9.8000 -139.0333
14      Avarua      CK     77.05 -21.2078 -159.7750
15  Georgetown      MY     82.89   5.4112  100.3354
16       Vaini      TO     78.96 -21.2000 -175.2000
19        Axim      GH     77.99   4.8699   -2.2405
25      Hasaki      JP     82.29  35.7333  140.8333
26      Padang      ID     78.85  -0.9492  100.3543

In [61]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [88]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [89]:
hotel_df.tail(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
496,Dayong,CN,89.28,25.0209,118.2898,Haiyue Express Hotel
497,Mahibadhoo,MV,82.81,3.7833,72.9667,Omadhoo Inn
503,Auki,SB,84.61,-8.7676,160.7034,Auki Motel
510,San Joaquin,US,85.78,37.9333,-121.3011,University Plaza Waterfront Hotel
511,Guanare,VE,82.42,9.0418,-69.7421,Nuevo Hotel Coromoto
515,Mazagao,BR,80.65,-0.1150,-51.2894,Recanto dos Ferreiras
523,Saltpond,GH,77.81,5.2091,-1.0606,Mfantseman Beach Resort
526,Abnub,EG,75.42,27.2696,31.1511,Romany Adly Gad
529,Marion,US,75.54,39.7684,-86.1555,Hilton Garden Inn Indianapolis Downtown
531,Pacific Grove,US,78.75,36.6177,-121.9166,Lovers Point Inn

In [90]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [91]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))